doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/src/index.css")
    script(src="/src/index.js")
    script(src="/src/tailwindcss")
    script(src="/src/App.js")
    link(rel="stylesheet" href="/src/App.css")
  body
     block content